:root {
  --color-navy: #000165;
  --color-navy-90: #1a1a74;
  --color-navy-80: #333484;
  --color-navy-70: #4d4d93;
  --color-navy-60: #6667a3;
  --color-navy-50: #8080b2;
  --color-navy-40: #9999c1;
  --color-navy-30: #b3b3d1;
  --color-navy-20: #cccce0;
  --color-navy-10: #e6e6f0;
  --color-navy-5: #f2f2f7;
  --color-navy-3: #f7f7fa;
  --color-navy-1: #fcfcfd;

  --color-yellow: #ffc400;
  --color-yellow-90: #ffca1a;
  --color-yellow-80: #ffd033;
  --color-yellow-70: #ffd64d;
  --color-yellow-60: #ffdc66;
  --color-yellow-50: #ffe280;
  --color-yellow-40: #ffe799;
  --color-yellow-30: #ffedb3;
  --color-yellow-20: #fff3cc;
  --color-yellow-10: #fff9e6;
  --color-yellow-5: #fffcf2;
  --color-yellow-3: #fffdf7;
  --color-yellow-1: #fffefc;

  --font-standard: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-standard);

  color: var(--color-navy);
  background-color: var(--color-yellow-1);
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  outline-color: var(--color-navy-50);
}
